server.address={{ web_app_server_ip }}
server.port={{ web_app_server_port }}

spring.datasource.url=jdbc:mysql://localhost:3306/{{ web_app_db_name }}?useUnicode=yes&characterEncoding=UTF-8
spring.datasource.driver=com.mysql.jdbc.Driver
spring.datasource.username={{ web_app_db_user }}
spring.datasource.password={{ web_app_db_password }}
spring.jpa.hibernate.ddl-auto=update

book.storage.dir={{ book_storage_dir }}
