server {
    listen {{ ( http_ip is defined ) | ternary(http_ip | default('') + ':', '') }}{{ http.port }} ssl;

    ssl_certificate      /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key  /etc/nginx/ssl/nginx.key;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_dhparam /etc/nginx/ssl/dhparam.pem;

    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  5m;

    ssl_ciphers  HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers   on;

    client_max_body_size 20m;

    location / {
        proxy_pass http://{{ api_service_hostname }}:{{ api_service_port }}/
    }
}
